.page {
  background: url("../public/background.png");
  width: 100%;
  min-height: 100vh;
}

.page p {
  margin:0
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20em;
  position: absolute;
  left: 1%;
  gap: 3em;
  top: 50%;
  transform: translate(0%, -50%);
  width: 50vh;

}

.container input {
  text-align: center;
  padding: 10px;
}

.container button {
  text-align: center;
  padding: 10px;
  border-radius: 15px;
}

.img {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  background: url("../public/mega alakazam.gif");
}

.containerShadowball {
  height: 20em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.shadowBall {
    height: 20em;
    position: relative;
}

.thunders{
position: absolute;
}

.thunders > img {
  position: absolute;
  transform: translate(-25%, -35%);
}